.App {
  font-family: sans-serif;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 0.5rem;
  align-items: flex-start;
}

.genre-btn {
  width: 15rem;
  padding: 1.5rem 0.5rem;
  border-radius: 3rem;
}

.genre-btn:hover {
  color: white;
}
