body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #191414;
  --bg-accent: #4F4F4F;
  --bg-bright: #1DB954;
  --text-color: #FFFFFF;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  color: var(--text-color);
}

Button{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  width: calc(var(--nav-size)*0.8);
  display: flex;
  align-items: center;
  justify-content: center;  
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
  /*background-color: var(--bg-bright);*/
}

.icon-button svg {
  fill: var(--text-color);
  width: 50%;
  height: 50%;
}

.dropdown {
  position: absolute;
  top:58px;
  width: 300px;
  transform: translate(45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow:hidden; 

  transition: height var(--speed) ease;
}

.menu-item {
  height:50px;
  display:flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: var(--bg-accent);
}

.icon-right {
  margin-left: auto;

}

.menu-primary-enter {
  position: absolute;
  transform: translateX(110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;

}

.menu-primary-exit {
  position:absolute;
}

.menu-primary-exit-active {
  transform: translate(300%);
  transition: all var(--speed) ease;
}



.menu-secondary-enter {
  transform: translateX(-110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;

}

.menu-secondary-exit {

}

.menu-secondary-exit-active {
  transform: translate(-300%);
  transition: all var(--speed) ease;
}

.embed {
  background-color: var(--bg);
  display: flex;
  padding-top: 5rem;
  padding-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  
}

